<app-base-card title="{{isNew ?  'Registrando novo aluno' : 'Editando o aluno ' + student.user.name}}">
    <div class="col-12">
        <form [formGroup]="formEntity">
            <div formGroupName="user">
                <h6 class="heading-small text-muted mb-4">Dados do usuário</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="name">Nome <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="name" class="form-control form-control-alternative"
                                    placeholder="Nome do aluno" formControlName="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="lastName">Sobrenome</label>
                                <input type="text" id="lastName" class="form-control form-control-alternative"
                                    placeholder="Sobrenome" formControlName="lastName">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="birthday">Data de nascimento
                                    <span class="text-danger">*</span></label>
                                <input type="date" id="birthday" class="form-control form-control-alternative"
                                    formControlName="birthday">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label" for="email">Endereço de e-mail <span
                                        class="text-danger">*</span></label>
                                <input type="email" id="email" class="form-control form-control-alternative"
                                    placeholder="aluno@exemplo.com" formControlName="email">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="phone">Telefone <span
                                        class="text-danger">*</span></label>
                                <input type="tel" id="phone" class="form-control form-control-alternative"
                                    placeholder="(41) 99999-9999" formControlName="phone">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="contactPhone">Telefone para
                                    contato</label>
                                <input type="tel" id="contactPhone" class="form-control form-control-alternative"
                                    placeholder="(41) 99999-9999" formControlName="contactPhone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label" for="registerCode">CPF <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="registerCode" class="form-control form-control-alternative"
                                    placeholder="111.222.333-44" formControlName="registerCode">
                            </div>
                        </div>

                        <div class="col-2">
                            <label class="form-control-label" for="genre">Sexo <span
                                    class="text-danger">*</span></label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genre" id="man"
                                    formControlName="genre" checked value="false">
                                <label class="form-check-label" for="man">
                                    Masculino
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genre" id="woman"
                                    formControlName="genre" value="true">
                                <label class="form-check-label" for="woman">
                                    Feminino
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Informações de contato</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" for="addressCode">Código postal <span
                                        class="text-danger">*</span></label>
                                <div class="input-group mb-3">
                                    <input type="text" id="addressCode" class="form-control form-control-alternative"
                                        style="box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);"
                                        placeholder="Código postal" formControlName="addressCode">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" (click)="searchAddress()"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label" for="addressCity">Cidade</label>
                                <input type="text" id="addressCity" class="form-control form-control-alternative"
                                    placeholder="Cidade de residência do aluno" formControlName="addressCity">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label" for="street">Logradouro</label>
                                <input id="street" class="form-control form-control-alternative"
                                    placeholder="Nome da rua, avenida, etc.." type="text" [(ngModel)]="street"
                                    [ngModelOptions]="{'standalone': true}" name="street">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="form-control-label" for="addressNumber">Número</label>
                                <input type="text" id="addressNumber" class="form-control form-control-alternative"
                                    placeholder="Número da residência do aluno" formControlName="addressNumber">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isNew">
                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Classes em aberto</h6>
                <div class="row">
                    <div class="col-12">
                        <table class="table alternative">
                            <thead>
                                <tr class="bg-translucent-primary">
                                    <th>Descrição
                                    </th>
                                    <th>Preço
                                    </th>
                                    <th>Instrutor
                                    </th>
                                    <th class="text-center">Dias na semana
                                    </th>
                                    <th class="text-center">Inicio
                                    </th>
                                    <th class="text-center">Término
                                    </th>
                                    <th class="text-center">Vagas
                                    </th>
                                    <th class="text-center">Inscrever
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let modalityClass of modalityClasses">
                                    <td>{{modalityClass.modality.description}}</td>
                                    <td>{{modalityClass.modality.price | currency: 'BRL'}}</td>
                                    <td>{{modalityClass.instructor.user.name}}</td>
                                    <td class="text-center">{{modalityClass.modality.daysInWeek}}</td>
                                    <td class="text-center">{{modalityClass.startTime}}</td>
                                    <td class="text-center">{{modalityClass.endTime}}</td>
                                    <td class="text-center" [ngClass]="{
                                            'bg-translucent-danger':modalityClass.totalActiveMembers >= modalityClass.totalVacancies,
                                            'bg-translucent-success':modalityClass.totalActiveMembers < modalityClass.totalVacancies
                                        }">
                                        {{modalityClass.totalActiveMembers + '/' + modalityClass.totalVacancies}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-sm"
                                            *ngIf="!registered.includes(modalityClass.id)"
                                            (click)="addRegistrationModality(modalityClass)">
                                            <i class="fas fa-plus text-white"></i>
                                        </button>
                                        <h1 *ngIf="registered.includes(modalityClass.id)"><i
                                                class="fas fa-check-square text-success"></i></h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" *ngIf="registrationModalityClasses && registrationModalityClasses.length > 0">
                    <div class="col-12" formArrayName="registrationModalityClasses">
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-2">Escolher vencimento e tipo de pagamento</h6>
                        <div class="row">
                            <div class="col-6 p-3"
                                *ngFor="let registration of formEntity.get('registrationModalityClasses').controls ; let i = index;">
                                <div [formGroupName]="i" class="row align-items-center">
                                    <div class="col-12">
                                        <h4>
                                            {{registration.get('modalityClass').value['modality'].description}}
                                        </h4>
                                    </div>
                                    <!-- <div class="col-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="street">Dia do vencimento</label>
                                            <select id="street" name="street"
                                                class="form-control form-control-alternative" readonly disabled>
                                                <option value="1">{{dateNow}}</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-4">
                                        <div class="form-group mb-0">
                                            <label class="form-control-label" for="dueDay">Dia de vencimento<span
                                                    class="text-danger">*</span></label>
                                            <select id="dueDay" class="form-control form-control-alternative"
                                                formControlName="dueDay">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group mb-0">
                                            <label class="form-control-label" for="street">Tipo de pagamento <span
                                                    class="text-danger">*</span></label>
                                            <select id="street" formControlName="modalityPaymentTypeId" name="street"
                                                class="form-control form-control-alternative">
                                                <option value="1">Mensal</option>
                                                <option value="2">Semestral</option>
                                                <option value="3">Anual</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-danger btn-sm" (click)="removeRegistrationModality(i)">
                                            <i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <ng-template #footer>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-outline-primary btn-block" (click)="cancel()">Cancelar
                    alterações</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary btn-block" [disabled]="formEntity.invalid"
                    (click)="save()">Salvar</button>
            </div>
        </div>
    </ng-template>
</app-base-card>