<app-base-card title="Faturas" [hideFooter]="true">
    <div class="row">
        <div class="col-12">
            <app-custom-table [entity]="'Invoice'" [title]="'Listagem de faturas'" [isCrud]="false">
                <ng-template #column let-value>Detalhes</ng-template>
                <ng-template #row let-value>
                    <button class="btn btn-primary" (click)="seeDetails(value.id)"><i
                            class="fas fa-external-link-alt"></i>
                    </button>
                </ng-template>
            </app-custom-table>
        </div>
    </div>
</app-base-card>