<app-base-card title="Avaliações fisicas" [hideFooter]="true">
    <div class="row">
        <div class="col-12">
            <app-custom-table [entity]="'PhysicalAssesment'" [title]="'Histórico de avaliações fisicas'" [isCrud]="false">
                <ng-template #column let-value>Detalhes</ng-template>
                <ng-template #row let-value><button class="btn btn-primary" (click)="consolar(value)"><i
                            class="fas fa-external-link-alt"></i></button></ng-template>
            </app-custom-table>
        </div>
    </div>
</app-base-card>