<app-base-card
    title="{{isNew ? 'Registrando novo treino' : 'Editando treino do aluno ' + student?.user?.name }}">
    <div class="col-12" *ngIf="isNew">
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="student">Escolha um aluno</label>
                        <select id="student" name="student" class="form-control form-control-alternative"
                            [(ngModel)]="student" (change)="onChangeStudent()">
                            <option *ngFor="let student of studentList" [ngValue]="student">{{student.user.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="student">
        <hr>
        <h6 class="heading-small text-muted mb-4">Dados do aluno</h6>
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Nome</label>
                        <p class="text-muted">{{student.user.name + ' ' +student.user.lastName}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Matricula</label>
                        <p class="text-muted">{{student.code}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="student && lastPhysicalAssesment">
        <h6 class="heading-small text-muted mb-4">Ultima avaliação fisica</h6>
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="studentGoal">Objetivo</label>
                        <span class="span-group-text">
                            {{lastPhysicalAssesment.studentGoal}}
                        </span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-control-label" for="bodyMassIndex">Indice de massa corporal</label>
                        <span class="span-group-text">
                            {{lastPhysicalAssesment.studentCaracteristics.bodyMassIndex | number: '1.3-3'}}
                        </span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-control-label" for="bodyDensity">Densidade corporal</label>
                        <span class="span-group-text">
                            {{lastPhysicalAssesment.studentCaracteristics.bodyDensity | number: '1.3-3'}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="leanMass">Massa magra (kg)</label>
                        <span class="span-group-text">
                            {{lastPhysicalAssesment.studentCaracteristics.leanMass | number: '1.3-3'}}
                        </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="fatMass">Massa gorda (kg)</label>
                        <span class="span-group-text">
                            {{lastPhysicalAssesment.studentCaracteristics.fatMass | number: '1.3-3'}}
                        </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="fatPercentage">Gordura (%)</label>
                        <span class="span-group-text">
                            {{lastPhysicalAssesment.studentCaracteristics.fatPercentage | number: '1.3-3'}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="basalMetabolicRate">Indice metabolico basal</label>
                        <span class="span-group-text">
                            {{lastPhysicalAssesment.studentCaracteristics.basalMetabolicRate | number: '1.3-3'}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="student">
        <form [formGroup]="formTrainingPlan">
            <h6 class="heading-small text-muted mb-4">Dados do treino</h6>
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" for="description">Descrição do treino <span
                                    class="text-danger">*</span></label>
                            <input type="text" id="description" class="form-control form-control-alternative"
                                placeholder="Ex: Primeiro treino do aluno" formControlName="description">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 rounded">
                        <div class="scrolling-wrapper p-2" #scrolling>
                            <div class="card mr-2" style="border: 1px solid #e9ecef;" *ngFor="let day of days">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-6">
                                            {{day.description}}
                                        </div>
                                        <div class="col-6 text-right">
                                            <button class="btn btn-sm btn-outline-warning mr-3"
                                                *ngIf="currentDay != day.number"
                                                (click)="currentDay = day.number">Alterar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ng-container
                                        *ngFor="let trainingPlanExercise of formTrainingPlan.get('trainingPlanExercises').controls ; let i = index;"
                                        formArrayName="trainingPlanExercises">

                                        <div class="row p-3 bg-lighter rounded mt-2"
                                            *ngIf="trainingPlanExercise.get('dayOfWeek') && trainingPlanExercise.get('dayOfWeek').value == day.number"
                                            [formGroupName]="i">
                                            <div class="col-3">
                                                <label class="form-control-label" for="exerciseCategory">
                                                    Categoria <span class="text-danger">*</span></label>
                                                <p>{{trainingPlanExercise.get('exerciseCategory') ?
                                                    trainingPlanExercise.get('exerciseCategory').value['description']
                                                    :
                                                    ''}}
                                                </p>
                                            </div>
                                            <div class="col-3">
                                                <label class="form-control-label" for="exercise">
                                                    Exercicio <span class="text-danger">*</span></label>
                                                <p>{{trainingPlanExercise.get('exercise') ?
                                                    trainingPlanExercise.get('exercise').value['description']
                                                    : ''}}</p>
                                            </div>
                                            <div class="col-2">
                                                <label class="form-control-label" for="repetition">
                                                    Repetição <span class="text-danger">*</span>
                                                </label>
                                                <p>{{trainingPlanExercise.get('repetition').value}}</p>
                                            </div>
                                            <div class="col-2">
                                                <label class="form-control-label" for="isCombined">
                                                    É combinado?
                                                </label>
                                                <p>{{trainingPlanExercise.get('isCombined').value ? 'Sim': 'Não'}}
                                                </p>
                                            </div>
                                            <div class="col-2 text-center" *ngIf="currentDay == day.number">
                                                <div>
                                                    <label class="form-control-label" for="isCombined">
                                                        Excluir
                                                    </label>
                                                </div>
                                                <button (click)="removeTrainingPlanExercise(i)"
                                                    class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <div class="row mt-2" *ngIf="currentDay == day.number">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="exercise">
                                                    Categoria <span class="text-danger">*</span></label>
                                                <select id="exerciseCategory" [(ngModel)]="exerciseCategory"
                                                    [ngModelOptions]="{'standalone': true}" name="exerciseCategory"
                                                    class="form-control form-control-alternative"
                                                    (change)="loadExercises()">
                                                    <option [ngValue]="category"
                                                        *ngFor="let category of exerciseCategories">
                                                        {{category.description}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="exercise">
                                                    Exercicio <span class="text-danger">*</span></label>
                                                <select id="exercise" [(ngModel)]="addingTrainingPlan.exercise"
                                                    [ngModelOptions]="{'standalone': true}" name="exercise"
                                                    class="form-control form-control-alternative"
                                                    [readonly]="!exerciseCategory">
                                                    <option [ngValue]="exercise" *ngFor="let exercise of exercises">
                                                        {{exercise.description}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <label class="form-control-label" for="repetition">
                                                Repetição <span class="text-danger">*</span>
                                            </label>
                                            <input class="form-control form-control-alternative" type="text"
                                                name="repetition" placeholder="Ex: 3x 12 repetições" id="repetition"
                                                [(ngModel)]="addingTrainingPlan.repetition"
                                                [ngModelOptions]="{'standalone': true}">
                                        </div>
                                        <div class="col-3 align-self-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="isCombined"
                                                    name="isCombined" [(ngModel)]="addingTrainingPlan.isCombined"
                                                    [ngModelOptions]="{'standalone': true}" value="false">
                                                <label class="form-control-label" for="isCombined">
                                                    É combinado?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="currentDay == day.number">
                                        <div class="col-12">
                                            <button class="btn btn-primary" [disabled]="!addingTrainingPlan.exercise"
                                                (click)="addTrainingPlanExercise(day.number, isCombined)"><i
                                                    class="fas fa-plus"></i>&nbsp;
                                                Adicionar outro
                                                item</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-more">
                                <button class="btn btn-outline-primary h-100" (click)="addDay(scrolling)"><i
                                        class="fas fa-plus"></i>&nbsp;Adicionar dia</button>
                                <button class="btn btn-danger d-block" *ngIf="days.length > 1" (click)="days.pop()">Remover
                                    ultimo dia</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template #footer>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-outline-primary btn-block" (click)="cancel()"
                    [disabled]="formTrainingPlan.invalid">Cancelar
                    alterações</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary btn-block" (click)="save()"
                    [disabled]="formTrainingPlan.invalid">Salvar</button>
            </div>
        </div>
    </ng-template>
</app-base-card>