<app-header [title]="'Requisição de avaliação fisica'">
  <ng-template #additional>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
</app-header>
<ion-grid style="width: 100%;" class="wrapper" scrollY="true">
  <ion-row style="margin-top: 8px;">
    <ion-col size="12">
      <form [formGroup]="formEntity">
        <fieldset>
          <legend>
            Dados da requisição
          </legend>
          <ion-row>
            <ion-col size="8">
              <ion-item>
                <ion-label position="stacked">Agendar para <span class="text-danger">*</span></ion-label>
                <ion-datetime value="2021-12-02T22:00:00.000Z" displayFormat="DD MMM YYYY, HH:mm" min="{{minDate.year}}"
                  hourValues="{{minDate.hours}}" monthValues="{{minDate.months}}" dayValues="{{minDate.days}}"
                  minuteValues="0,30" [(ngModel)]="scheduledToDate" [ngModelOptions]="{'standalone': true}"
                  (ionChange)="onChangeScheduled()"
                  monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="form-group">
                <ion-item>
                  <ion-label position="stacked">Observação<span class="text-danger">*</span></ion-label>
                  <ion-input type="text" id="description" placeholder="Descrição da requisição" formControlName="note">
                  </ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </fieldset>
        <ion-row>
          <ion-col size="12">
            <ion-button color="success" (click)="save()">
              Enviar
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
      <ion-row style="margin-top: 5px;" *ngIf="message">
        <ion-col size="12" class="text-danger">
          * {{message}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>