<app-base-card
    title="{{isNew ? 'Registrando nova classe' : 'Editando classe da modalidade ' + modalityClass.modality.description}}">
    <div class="col-12">
        <form [formGroup]="formModalityClass">
            <h6 class="heading-small text-muted mb-4">Dados da modalidade</h6>
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label" for="description">Descrição <span
                                    class="text-danger">*</span></label>
                            <input type="text" id="description" class="form-control form-control-alternative"
                                placeholder="Descrição do treino" formControlName="description">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label" for="modality">Modalidade <span
                                    class="text-danger">*</span></label>
                            <select class="form-control form-control-alternative" formControlName="modality">
                                <option *ngFor="let modality of modalities">{{modality.description}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label" for="startTime">Horário de inicio <span
                                    class="text-danger">*</span></label>
                            <input type="text" id="startTime" class="form-control form-control-alternative"
                                placeholder="Ex: 10.0" formControlName="startTime">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label" for="endTime">Horário de término<span
                                    class="text-danger">*</span></label>
                            <input type="text" id="endTime" class="form-control form-control-alternative"
                                placeholder="Ex: 5" formControlName="endTime">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label" for="instructor">Instrutor <span
                                    class="text-danger">*</span></label>
                            <select class="form-control form-control-alternative" formControlName="instructor">
                                <option *ngFor="let instructor of instructors">{{instructor.description}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label" for="totalVacancies">Lotação máxima<span
                                    class="text-danger">*</span></label>
                            <input type="text" id="totalVacancies" class="form-control form-control-alternative"
                                placeholder="Ex: 5" formControlName="totalVacancies">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-base-card>