<div class="container-fluid mt--7">
    <div class="row justify-content-center">
        <div class="col-xl-12 order-xl-1 p-0">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0" *ngIf="!hideHeader">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h2>
                                <a (click)="goBack()" role="button"><i class="fas fa-angle-left"></i></a> &nbsp;
                                {{title}}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <ng-content></ng-content>
                </div>
                <div class="card-footer" *ngIf="!hideFooter">
                    <ng-container *ngIf="!hideFooter">
                        <ng-container [ngTemplateOutlet]="footer"></ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>