<app-header [title]="'Histórico de treinos'" defaultBack="training"></app-header>
<ion-grid style="width: 100%;" class="wrapper" scrollY="true">
    <ion-row style="margin-top: 8px;">
        <ion-col size="12" *ngIf="trainings && trainings.length > 0">
            <h6 class="heading-small">Treinos atuais</h6>
            <ion-list>
                <ng-container *ngFor="let training of trainings">
                    <ion-card class="list-card">
                        <ion-card-content>
                            <ion-row class="list-card-row">
                                <ion-col size="5">
                                    <div style="font-weight: 600">
                                        <ion-label>Descrição</ion-label>
                                    </div>
                                    <ion-label>{{training.description}}</ion-label>
                                </ion-col>
                                <ion-col size="5" class="ion-text-center">
                                    <div style="font-weight: 600; text-align: center;">
                                        <ion-label>Data de registro</ion-label>
                                    </div>
                                    <ion-label>{{training.registerDateTime | date: 'shortDate' : '' : 'pt-BR'}}
                                    </ion-label>
                                </ion-col>
                                <ion-col size="2" class="ion-text-center ion-align-self-center" style="padding:0px;">
                                    <h1>
                                        <a (click)="seeDetails(training.id)">
                                            <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
                                        </a>
                                    </h1>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ng-container>
                <ion-text *ngIf="!trainings || trainings.length == 0" class="ion-text-center">
                    <h6>Não há nenhum plano de treino ativo até o momento.</h6>
                </ion-text>
            </ion-list>
        </ion-col>
        <ion-col size="12">
            <h6 class="heading-small">Treinos anteriores</h6>
            <ion-list>
                <ng-container *ngFor="let training of olderTrainings">
                    <ion-card class="list-card" *ngIf="olderTrainings && olderTrainings.length > 0">
                        <ion-card-content>
                            <ion-row class="list-card-row">
                                <ion-col size="7">
                                    <div style="font-weight: 600">
                                        <ion-label>Descrição</ion-label>
                                    </div>
                                    <ion-label>{{training.description}}</ion-label>
                                </ion-col>
                                <ion-col size="3" class="ion-text-center">
                                    <div style="font-weight: 600; text-align: center;">
                                        <ion-label>Data de registro</ion-label>
                                    </div>
                                    <ion-label>{{training.registerDateTime | date: 'shortDate' : '' : 'pt-BR'}}
                                    </ion-label>
                                </ion-col>
                                <ion-col size="2" class="ion-text-center" style="padding:0px;">
                                    <div style="font-weight: 600">
                                        <ion-label>Cancelar</ion-label>
                                    </div>
                                    <h1>
                                        <a (click)="seeDetails(training.id)">
                                            <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
                                        </a>
                                    </h1>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ng-container>
                <ion-text *ngIf="(!olderTrainings || olderTrainings.length == 0)">
                    <h6 style="padding-left: 26px;">Não há nenhum plano de treino anterior para ser mostrado.</h6>
                </ion-text>
            </ion-list>
        </ion-col>
        <ion-col size="12">
        </ion-col>
    </ion-row>
</ion-grid>