<app-header [title]="'Matrículas'" defaultBack="registrations"></app-header>
<ion-grid style="width: 100%;" class="wrapper" scrollY="true">
  <ion-row style="margin-top: 8px;">
    <ion-col size="12" *ngIf="modalityClasses && modalityClasses.length > 0">
      <h6 class="heading-small">Turmas disponiveis</h6>
      <ion-list>
        <ng-container *ngFor="let modalityClass of modalityClasses">
          <ion-card class="list-card" *ngIf="!alreadyRegistered.includes(modalityClass.id)">
            <ion-card-content>
              <ion-row class="list-card-row" (click)="setRegistration(modalityClass)">
                <ion-col size="1" class="ion-align-self-center ion-text-center" style="padding:0px;">
                  <h1>
                    <a>
                      <ion-icon *ngIf="getRegistration(modalityClass).length == 0" name="square-outline"
                        color="success">
                      </ion-icon>
                      <ion-icon *ngIf="getRegistration(modalityClass).length > 0" name="checkbox" color="success">
                      </ion-icon>
                    </a>
                  </h1>
                </ion-col>
                <ion-col size="4">
                  <div style="font-weight: 600;">
                    <ion-label>Modalidade</ion-label>
                  </div>
                  <ion-label>{{modalityClass?.modality?.description}}
                  </ion-label>
                </ion-col>
                <ion-col size="3" class="ion-text-center" style="border: none;">
                  <div style="font-weight: 600; text-align: center;">
                    <ion-label>Valor</ion-label>
                  </div>
                  <ion-label>{{modalityClass?.modality?.price | currency: 'BRL'}}
                  </ion-label>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <div style="font-weight: 600; text-align: center;">
                    <ion-label>Inicio</ion-label>
                  </div>
                  <ion-label>{{modalityClass?.startTime}}
                  </ion-label>
                </ion-col>
                <ion-col size="2" class="ion-text-center" style="border: none;">
                  <div style="font-weight: 600; text-align: center;">
                    <ion-label>Fim</ion-label>
                  </div>
                  <ion-label>{{modalityClass?.endTime}}
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="getRegistration(modalityClass).length > 0">
                <ng-container *ngFor="let registration of getRegistration(modalityClass)">
                  <ion-col size="6">
                    <ion-label>Dia de vencimento</ion-label>
                    <ion-item>
                      <ion-select value="brown" okText="Confirmar" cancelText="Cancelar"
                        [(ngModel)]="registration['dueDay']">
                        <ion-select-option value="5">5</ion-select-option>
                        <ion-select-option value="10">10</ion-select-option>
                        <ion-select-option value="20">20</ion-select-option>
                        <ion-select-option value="25">25</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-label>Tipo de pagamento</ion-label>
                    <ion-item>
                      <ion-select value="brown" okText="Confirmar" cancelText="Cancelar"
                        [(ngModel)]="registration['modalityPaymentTypeId']">
                        <ion-select-option [value]="paymentType.id" *ngFor="let paymentType of paymentTypes">
                          {{paymentType.description}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ng-container>
              </ion-row>

            </ion-card-content>
          </ion-card>
        </ng-container>
        <ion-text *ngIf="!modalityClasses || modalityClasses.length == 0">
          <h6 style="padding-left: 26px;">Não há nenhuma turma disponivel.</h6>
        </ion-text>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="selectedRegistrations && selectedRegistrations.size > 0"
    style="position: fixed; bottom: 0; width: 100%; background-color: #e8ebef; margin-left: -5px;">
    <!-- <ion-col size="12">
    </ion-col> -->
    <ion-col size="12" class="ion-text-center">
      <ion-button color="success" (click)="save()">Inscrever-se nas modalidades
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>