<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid" [ngClass]="{'isLoading': disable}">
    <!-- Brand -->
    <a class="navbar-brand pt-0 mt-3" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="./assets/img/brand/logo-egym.png" class="navbar-brand-img" alt="Logotipo da marca">
    </a>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <hr>

      <!-- Navigation -->
      <ul class="navbar-nav">
        <li *ngFor="let menuItem of menuItems" class="nav-item">
          <ng-container *ngTemplateOutlet="greet; context:{ $implicit: menuItem }"></ng-container>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="my-3">

      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" role="button">
            <i class="fas fa-cog"></i>
            Configurações
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" role="button" (click)="logout()">
            <i class="fas fa-sign-out-alt text-danger"></i>
            Sair
          </a>
        </li>
      </ul>

      <ng-template #greet let-item>
        <a routerLinkActive="active" [routerLink]="[item.Path]" *ngIf="item.Path || item.Path != ''" class="nav-link"
          role="button" (click)="item.Collapsed = !item.Collapsed">
          <i class="fas {{item.Icon}}"></i>
          <span class="w-100">{{item.Description}}</span>
          <i class="fas text-right" [ngClass]="{'fa-angle-right': !item.Collapsed, 'fa-angle-down': item.Collapsed}"
            *ngIf="item.Children.length"></i>
        </a>
        <a routerLinkActive="active" *ngIf="!item.Path || item.Path == ''" class="nav-link" role="button"
          (click)="item.Collapsed = !item.Collapsed">
          <i class="fas {{item.Icon}}"></i>
          <span class="w-100">{{item.Description}}</span>
          <i class="fas text-right" [ngClass]="{'fa-angle-right': !item.Collapsed, 'fa-angle-down': item.Collapsed}"
            *ngIf="item.Children.length"></i>
        </a>
        <ul class="bg-secondary" *ngIf="item.Children.length > 0 && item.Collapsed"
          style="list-style: none; padding-left: 20px">
          <li *ngFor="let child of item.Children" class="nav-item">
            <ng-container [ngTemplateOutlet]="greet" [ngTemplateOutletContext]="{ $implicit:  child }"></ng-container>
          </li>
        </ul>
      </ng-template>

    </div>
  </div>
</nav>