<div class="col-12">
  <div class="row" style="height:100%">
    <div class="col-5 bg-secondary">
      <div class="row align-items-center" style="min-height: 100vh;">

        <div class="col-12 d-flex justify-content-center">
          <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">
            <img src="assets/img/brand/logo-egym.png" width="300" />
          </a>
        </div>
        <!-- Page content -->
        <div class="col-12 d-flex justify-content-center">
          <div class="col-8 card bg-secondary border-0">
            <div class="card-body">
              <div class="text-center text-muted mb-4">
                <small>Faça login com suas credenciais</small>
              </div>
              <form role="form" [formGroup]="formLogin">
                <div class="form-group mb-3"
                  [ngClass]="{'has-danger': formLogin.touched && formLogin.get('username').invalid, 'has-success':formLogin.touched && formLogin.get('username').valid}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" formControlName="username"
                      [ngClass]="{'is-invalid': formLogin.touched && formLogin.get('username').invalid, 'is-valid':formLogin.touched && formLogin.get('username').valid}">
                  </div>
                </div>
                <div class="form-group"
                  [ngClass]="{'has-danger': formLogin.touched && formLogin.get('password').invalid, 'has-success':formLogin.touched && formLogin.get('password').valid}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Senha" type="password" formControlName="password"
                      [ngClass]="{'is-invalid': formLogin.touched && formLogin.get('password').invalid, 'is-valid':formLogin.touched && formLogin.get('password').valid}">
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4 btn-block" (click)="authenticate()">Entrar</button>
                </div>
              </form>

              <div class="col-12 text-center">
                <!-- <a href="javascript:void(0)" class="text-light"><small>Esqueceu sua senha?</small></a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center mb-3 p-2">
            <span class="alert alert-danger p-2" *ngIf="message">{{message}}</span>
          </div>

        </div>
      </div>
    </div>
    <div class="col-7 bg-image d-flex justify-content-center align-items-center">
      <div class="col-lg-5 col-md-6">
      </div>
    </div>
  </div>