<ng-template #removeModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Remover aluno</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Deseja remover o aluno selecionado?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Confirm')">Confirmar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
    </div>
  </ng-template>
  <app-base-card title="Treinos" [hideFooter]="true">
    <app-custom-table entity="TrainingPlan" title="Listagem de treinos" (editEvent)="editPlan($event)"
      (deleteEvent)="deletePlan($event)" (insertEvent)="insertPlan()"></app-custom-table>
  </app-base-card>