<app-base-card title="Detalhes da fatura" [hideFooter]="true">
    <div class="row align-items-center" *ngIf="invoice">
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    <h4>Nome do aluno</h4>
                    <p>{{invoice.student.user.name}}</p>
                    <h4>Sobrenome</h4>
                    <p>{{invoice.student.user.lastName}}</p>
                    <h4>Matricula</h4>
                    <p>{{invoice.student.code}}</p>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-borderless">
                                <tr class="bg-light">
                                    <th>
                                        <span>Data de referência</span>
                                    </th>
                                    <th>
                                        <span>Data de vencimento</span>
                                    </th>
                                </tr>
                                <tr>
                                    <td>{{invoice.referentToDate | date : 'shortDate' : '' : 'pt-BR'}}</td>
                                    <td>{{invoice.dueDate | date : 'shortDate' : '' : 'pt-BR'}}</td>
                                </tr>
                                <tr class="my-1">
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="bg-light">Status</th>
                                    <td class="text-center">
                                        <p-chip
                                            styleClass="p-mr-2 {{invoice.invoiceStatus.id < 3 ? 'warning' : 'success'}}-chip">
                                            {{invoice.invoiceStatus.description}}</p-chip>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="bg-light">Valor total</th>
                                    <td class="text-center">{{invoice.totalValue | currency: 'BRL'}}</td>
                                </tr>
                            </table>
                            <button *ngIf="invoice && invoice.invoiceStatus.id < 10" (click)="receivePayment()"
                                class="btn btn-primary btn-block my-4">Registrar
                                pagamento</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <table class="table bg-lighter">
                        <tr>
                            <th colspan="2" class="text-center text-lighter" style="background: #fb6b3e">
                                <span>Detalhes</span>
                            </th>
                        </tr>
                        <tr class="bg-light">
                            <th>
                                Descrição
                            </th>
                            <th>
                                Preço
                            </th>
                        </tr>
                        <tr *ngFor="let detail of invoice.invoiceDetails">
                            <td>
                                {{detail.description}}
                            </td>
                            <td>
                                {{detail.price | currency: 'BRL'}}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: 600;" class="bg-light">Total</td>
                            <td style="font-weight: 600" class="bg-translucent-primary">
                                {{invoice.totalValue | currency: 'BRL'}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 mt-4">
                    <table class="table bg-lighter">
                        <tr>
                            <th colspan="2" class="text-center text-lighter" style="background: #fb6b3e">
                                <span>Observações</span>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                {{invoice.note}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</app-base-card>